/* mix */
body {
    font-family: 'Poppins', sans-serif;
}

.bg--gray { 
    background-color: rgba(195, 195, 195, 0.2);
}

.bg--green {
    background-color: #7AA49F;
}
/* /mix */

/* typo */
h1 {
    color: #fff;
    font-size: 35px;
}

h1 > span {
    color: #8CCEB0;
}

h1, h2 {
    font-weight: 600;
}

h2 {
    color: #4C9286;
    font-size: 30px;
}

h3 {
    color:  #164C4F;
    font-weight: 500;
    margin: 15px 0;
}

p {
    color: #828282;
    font-weight: 200;
}

.bg--gray h2 {
    color: #164C4F;
}

.bg--green * {
    color: #fff;
}
/* /typo */


/* header */
header {
    background-color: #164C4F;
    padding-top: 15px;
}
/* header */

/* main */
section {
    padding: 40px 0;
}
.section__heading {
    text-align: center;
}
.section__box {
    text-align: center;
    padding: 0 30px;
}
.section__img {
    margin-top: 35px;
    max-height: 100px;
}
.section__hr {
    border: 1px solid #7AA49F;
    width: 30%;
    margin: 30px auto 0;
}

#why img {
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 15px;
}

/* /main */

/* responsive */
/* >992px desktop */
@media screen and (min-width:992px) {

}
/* />992px desktop */

/* 768 < 991px tablet */
@media screen and (max-width:991px) {
   /* typo */
    h1 {
        font-size: 23px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }
    /* /typo */ 

    /* header */
    header {
        padding-top: 10px;
    }
    /* /header */

    /* main */
    section {
        padding: 30px 0;
    }

    .section__box {
        padding: 0 20px;
    }
    /* /main */
       
}
/* /768 < 991px tablet */

/* <768 phone */
@media screen and (max-width:767px) {
    /* typo */
    h1 {
        font-size: 20px;
    }

    h3 {
        margin: 10px 0;
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
    /* /typo */


    /* main */
    .section__img {
        margin-top: 40px;
        max-height: 80px;
    }

    .section__box {
        padding: 0;
    }
    /* /main */
}
/* /<768 phone */

  
